onebusaway-uk-atco-cif-to-gtfs-converter

  We provide a utility for converting transit schedule information in the
  {{{http://travelinedata.org.uk/CIF/atco-cif-spec.pdf}ATCO-CIF}} format into
  the {{{https://developers.google.com/transit/gtfs/}GTFS}}
  format.
  
  #set( $url = 'http://nexus.onebusaway.org/service/local/artifact/maven/content?r=public&g=org.onebusaway&a=onebusaway-uk-atco-cif-to-gtfs-converter&v=' + ${currentVersion} )

  Details on all releases can be found in the {{{./release-notes.html}Release Notes}}.
  
  
  <<Download Current Version:>> {{{${url}}onebusaway-uk-atco-cif-to-gtfs-converter-${currentVersion}.jar}}

* Running the Converter

  You need {{{http://java.com/}Java}} installed to run the converter utility.
  
+---+
java -jar onebusaway-uk-atco-cif-to-gtfs-converter.jar [args] atco_cif_input_path gtfs_output_path
+---+

* Arguments

  The program requires two arguments:
  
  * <<<atco_cif_input_path>>> - a path point to either a CIF file or a directory
  containing CIF files, that will be read as input.
  
  * <<<gtfs_output_path>>> - a path where the resulting GTFS feed will be
  written.
  
  []

  The following optional arguments can be used to control how the agency entry
  in the GTFS <<<agency.txt>>> file is populated:

  * <<<--agencyId=...>>> - specify the agency id used for the feed
  
  * <<<--agencyName=...>>> - specify the agency name used for the feed
  
  * <<<--agencyUrl=...>>> - specify the agency url used for the feed
  
  * <<<--agencyTimezone...>>> - specify the agency timezone used for the feed
  
  * <<<--agencyLang=...>>> - specify the agency lang used for the feed
  
  * <<<--agencyPhone=...>>> - specify the agency phone used for the feed
  
  []
  
  The following arguments can be used to control other aspects of the feed
  conversion:
  
  * <<<--vehicleType=...>>> - specify a default {{{https://developers.google.com/transit/gtfs/reference#routes_route_type_field}GTFS vehicle type}} for the feed
  
  * <<<--preferredDirectionIdsForRouteDetails=...>>> - specify as a comma-separated list of direction ids
    (eg. "IN,OUT") that will be used to fill in additional details for {{{https://developers.google.com/transit/gtfs/reference#routes_fields}GTFS routes.txt}} entries
    from ATCO-CIF route+direction specifc records.  For example,
    the <<<route_long_name>>> field will be set using QD Route Direction records for a
    particular route, trying each specified direction id in turn until we find a usable value.
  
  * <<<--pruneStopsWithNoLocationInfo>>> - prune stops with no location information
  
  * <<<--pruneStopsWithPrefix=prefix>>> - prune stops with the specified stop id prefix
  
  * <<<--pruneTripsWithMissingStops>>> - prune trips that have missing stops (aka stops that have been pruned)
  
  * <<<--locationScaleFactor=factor>>> - if the northing and easting values for
  additional location (QB) records have been multiplied by some scale factor,
  specify it here
  
  * <<<--nationalExpressExtensions>>> - if specified, will look for National
  Express-specific extension records in the CIF file. 
  
  []

  For the <<<--vehicleType>>> argument, you can specify a numeric
  {{{https://developers.google.com/transit/gtfs/reference#routes_route_type_field}GTFS route type value}}
  or you can specify one of the following:
  
  * tram
  
  * streetcar
  
  * lightrail
  
  * subway
  
  * metro
  
  * rail
  
  * bus
  
  * ferry
  
  * cablecar
  
  * gondola
  
  * funicular
  
  []
  
  If you have stops without location information in your ATCO CIF feed, it is
  possible to prune them from resulting GTFS feed, along with their stop times,
  using the <<<--pruneStopsWithNoLocationInfo>>> argument.  You can also prune
  arbitrary stops with a particular stop id prefix using the
  <<<--pruneStopsWithPrefix=prefix>>> argument.
  
    
   