onebusaway-uk

  We provide a number of tools and libraries for working with public transport data from the UK.
  
  * {{{./atco-cif-to-gtfs-converter.html}onebusaway-uk-atco-cif-to-gtfs-converter}} - Utility to convert
    from ATCO CIF transport data to GTFS. 

  * {{{./network-rail-gtfs-realtime.html}onebusaway-uk-gtfs-realtime}} - Utility
  	to convert the custom realtime format provided by Network Rail into the
  	GTFS-realtime format.
    
   